@charset "UTF-8";

@if $enable-radios == true {
    .radio {
        @include size($radio-size);

        position: relative;
        display: inline-block;
        vertical-align: top;

        &__tag {
            @include size(100%);

            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: 0;

            + .radio__box {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                background: #fff;
                border: 1px solid $color-lightest;
                border-radius: 50%;

                &::after {
                    @include size(0);

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: $color-base;
                    border-radius: 50%;
                    content: "";
                    transition: all $transition-duration-base;
                }
            }

            &:checked {
                + .radio__box {
                    &::after {
                        @include size($radio-size / 2);
                    }
                }
            }

            &:disabled {
                + .radio__box {
                    opacity: .2;
                }
            }
        }

        &.radio--invalid {
            .radio__tag + .radio__box {
                border-color: $color-error;
            }
        }
    }
}
