@charset "UTF-8";

@if $enable-links == true {
    .link {
        &.link--current {
            cursor: default;
            text-decoration: none;

            &:visited,
            &:hover,
            &:active {
                color: inherit;
            }
        }

        &.link--pseudo {
            text-decoration: underline dotted $color-link;
        }
    }
}
