doctype html

html.mod_no-js(lang='ru')
    head
        block head
            meta(charset='utf-8')
            block title

            meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
            meta(name='description' content='')
            meta(name='keywords' content='')
            meta(name='format-detection' content='telephone=no')

            link(rel='stylesheet' href='css/vendor.css')
            link(rel='stylesheet' href='css/application.css')
            link(rel='apple-touch-icon' href='apple-touch-icon.png')

            script(src='js/modernizr.js')

    body
        include ../components/_site_header

        main
            block main

        include ../components/_site_footer

        block scripts
            script(src='js/vendor.js')
            script(src='js/application.js')
